<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>${localRepository}</localRepository>
	<activeProfiles>
		<activeProfile>home-central</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>home-central</id>
			<repositories>
				<repository>
					<id>home</id>
					<url>file:${user.home}/.m2/repository</url>
					<releases>
						<enabled>true</enabled>
						<checksumPolicy>ignore</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<url>http://repo.maven.apache.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>home</id>
					<url>file:${user.home}/.m2/repository</url>
					<releases>
						<enabled>true</enabled>
						<checksumPolicy>ignore</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<url>http://repo.maven.apache.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>
